# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
/Report Card Django/core/.env

# Django secret key or settings
 

# VS Code, JetBrains, etc.
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db